<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <properties resource="application.properties" /> -->

	<settings>
		<setting name="cacheEnabled" value="false" />
	</settings>

	<typeAliases>
		<package name="com.model" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost/yuhua3" />
				<property name="username" value="root" />
				<property name="password" value="123" />
				<!-- <property name="driver" value="${jdbc.driverClassName}" /> <property 
					name="url" value="${jdbc.url}" /> <property name="username" value="${jdbc.username}" 
					/> <property name="password" value="${jdbc.password}" /> -->
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/db/MyMapper.xml" />
		<mapper resource="com/db/MyActivityRecMapper.xml" />
		<mapper resource="com/db/MyAdministratorMapper.xml" />
		<mapper resource="com/db/MyAnnouncementMapper.xml" />
		<mapper resource="com/db/MyAwardMapper.xml" />
		<mapper resource="com/db/MyCashierMapper.xml" />
		<mapper resource="com/db/MyCompanyMapper.xml" />
		<mapper resource="com/db/MyCompanyB0Mapper.xml" />
		<mapper resource="com/db/MyCompanyUserMapper.xml" />
		<mapper resource="com/db/MyFeesMapper.xml" />
		<mapper resource="com/db/MyFinancialOfficerMapper.xml" />
		<mapper resource="com/db/MyGrantMapper.xml" />
		<mapper resource="com/db/MyIpRecordMapper.xml" />
		<mapper resource="com/db/MyMeetingRoomMapper.xml" />
		<mapper resource="com/db/MyMeetingRoomOrderMapper.xml" />
		<mapper resource="com/db/MyMemberMapper.xml" />
		<mapper resource="com/db/MyNotifyMapper.xml" />
		<mapper resource="com/db/MyOrgMapper.xml" />
		<mapper resource="com/db/MyOrgPersonMapper.xml" />
		<mapper resource="com/db/MyOutSourceMapper.xml" />
		<mapper resource="com/db/MyParkingLotMapper.xml" />
		<mapper resource="com/db/MyParkingLotBikeMapper.xml" />
		<mapper resource="com/db/MyPersonMapper.xml" />
		<mapper resource="com/db/MyReviewerMapper.xml" />
		<mapper resource="com/db/MyReviewPaperMapper.xml" />
		<mapper resource="com/db/MyRoomMapper.xml" />
		<mapper resource="com/db/MySecurityCardMapper.xml" />
		<mapper resource="com/db/MyStaffMapper.xml" />
		<mapper resource="com/db/MyTagMapper.xml" />
		<mapper resource="com/db/MyTalkNotesMapper.xml" />
		<mapper resource="com/db/MyTeacherMapper.xml" />
		<mapper resource="com/db/MyUploadMapper.xml" />
		<mapper resource="com/db/MyUserAndRoleMapper.xml" />
	</mappers>


</configuration>