<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MyGrantMapper">

	<select id="findGrantRecordsByCompId" parameterType="string"
		resultType="GrantRecord">
		select * from grantrec WHERE COMPID=#{compId} order by
		GRANTDate desc
  	</select>

	<insert id="insertGrantRecord" parameterType="GrantRecord">
		<![CDATA[
		INSERT INTO	grantrec
		(UID, CompId, GRANTNAME, GRANTISSUER,PROJECTNAME, GRANTDate,PROJTOTALMONEY,GRANTMONEY, REMARK)
		VALUES
		(#{uid},#{compId},#{grantName},#{grantIssuer},#{projectName},#{grantDate},#{projTotalMoney},#{grantMoney},#{remark})
		]]>
	</insert>

	<delete id="deleteGrant" parameterType="string">
		<![CDATA[
		DELETE FROM grantrec where uid =#{uid}
		]]>
	</delete>

	<update id="updateGrant" parameterType="GrantRecord">
		<![CDATA[
		UPDATE GrantRec SET
		compid=#{compId}
		,GRANTNAME=#{grantName}
		,GRANTISSUER=#{grantIssuer}
		,PROJECTNAME=#{projectName}
		,GRANTDate=#{grantDate}
		,PROJTOTALMONEY=#{projTotalMoney}
		,GRANTMONEY=#{grantMoney}
		,remark=#{remark}		
		where uid=#{uid}
		]]>
	</update>

</mapper>