<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MyIpRecordMapper">

	<!--
		<select id="findAllIPRECs" resultType="IPREC"> select * from IPREC
		</select>
	-->

	<select id="findIPRECsByCompId" parameterType="string"
		resultType="IPREC">
		select * from IPREC WHERE COMPID=#{compId} order by IPDate
		desc
  	</select>

	<insert id="insertIpRecord" parameterType="IPREC">
		<![CDATA[
		INSERT INTO	IPREC
		(UID, CompId, IPNO, IPNAME,IPCOUNTRY, IPDATE, REMARK)
		VALUES
		(#{uid},#{compId},#{ipNo},#{ipName},#{ipCountry},#{ipDate},#{remark})
		]]>
	</insert>

	<delete id="deleteIP" parameterType="string">
		<![CDATA[
		DELETE FROM iprec where uid =#{uid}
		]]>
	</delete>

	<update id="updateIp" parameterType="IPREC">
		<![CDATA[
		UPDATE iprec SET
		compid=#{compId}
		,ipno=#{ipNo}
		,ipname=#{ipName}
		,ipcountry=#{ipCountry}
		,ipdate=#{ipDate}
		,remark=#{remark}		
		where uid=#{uid}
		]]>
	</update>

</mapper>