<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MyMemberMapper">

	<select id="findAllMembers" resultType="Member">
		<![CDATA[
		select 
		uid as uid
		,name AS name
		,email AS email
		,phone AS phone
		,status AS status
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Member
		]]>
	</select>

	<select id="findMemberById" parameterType="string" resultType="Member">
		<![CDATA[
		select
		uid as uid
		,name AS name
		,email AS email
		,phone AS phone
		,status AS status
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Member
		WHERE uid=#{uid}
		]]>
	</select>
		
	<insert id="insertMembers" parameterType="Member">
		<![CDATA[
		INSERT INTO Member(
		uID, name,email,phone, title,unit,remark,status
		,userLoginId, userLoginPwd
		,createdBy,createdTime,lastUpdateUser,lastUpdateTime
		)VALUES(
		#{uid},#{name},#{email},#{phone},#{title},#{unit},#{remark},#{status}
		,#{userLoginId},#{userLoginPwd}
		,#{createdBy},#{createdTime},#{lastUpdateUser},#{lastUpdateTime}
		)
		]]>
	</insert>


	<update id="updateMember" parameterType="Member">
		<![CDATA[
		UPDATE Member SET
		name=#{name}
		,email=#{email}
		,phone=#{phone}
		,status=#{status}
		,title=#{title}	
		,unit=#{unit}
		,remark=#{remark}
		,userLoginId=#{userLoginId}
		,userLoginPwd=#{userLoginPwd}
		,lastUpdateUser=#{lastUpdateUser}
		,lastUpdateTime=#{lastUpdateTime}
		where uid=#{uid}
		]]>
	</update>

<!--
	<delete id="deleteMember" parameterType="Member">
		<![CDATA[
		UPDATE Member SET
		,status=#{status}
		,lastUpdateUser=#{lastUpdateUser}
		,lastUpdateTime=#{lastUpdateTime}
		where uid=#{uid}
		]]>
	</delete>
	
	 
	<delete id="deleteMember" parameterType="string">
		<![CDATA[
		DELETE FROM Member where uid =#{uid}
		]]>
	</delete>
-->
</mapper>