<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MyPersonMapper">

	<select id="findPersonByUid" parameterType="string" resultType="z.Person">
		<![CDATA[
		select 
		personUid as personUid
		,personName AS personName
		from person
		where personUid=#{personUid}
		]]>
	</select>

</mapper>