<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MySecurityCardMapper">

	<select id="findAllSecurityCards" resultType="SecurityCard">
		<![CDATA[
		select 
		uid as uid
		,securityCardNo AS securityCardNo
		,usedBy AS usedBy
		,status AS status
		,remark AS remark
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from SecurityCard
		order by securityCardNo
		]]>
	</select>

	<select id="findSecurityCardById" parameterType="string" resultType="SecurityCard">
		<![CDATA[
		select
		uid as uid
		,securityCardNo AS securityCardNo
		,usedBy AS usedBy
		,status AS status
		,remark AS remark
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from SecurityCard
		WHERE uid=#{uid}
		]]>
	</select>
	
	<select id="findSecurityCardByUser" parameterType="string" resultType="SecurityCard">
		<![CDATA[
		select
		uid as uid
		,securityCardNo AS securityCardNo
		,usedBy AS usedBy
		,status AS status
		,remark AS remark
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from SecurityCard
		WHERE usedby=#{usedby}
		]]>
	</select>

	<insert id="insertSecurityCards" parameterType="SecurityCard">
		<![CDATA[
		INSERT INTO SecurityCard
		(uID, securityCardNo,usedBy,status,remark,lastUpdateUser,lastUpdateTime)
		VALUES
		(
		#{uid},#{securityCardNo},#{usedBy},#{status},#{remark},#{lastUpdateUser},#{lastUpdateTime}
		)
		]]>
	</insert>


	<update id="updateSecurityCard" parameterType="SecurityCard">
		<![CDATA[
		UPDATE SecurityCard SET
		securityCardNo=#{securityCardNo}
		,usedBy=#{usedBy}
		,status=#{status}
		,remark=#{remark}
		,lastUpdateUser=#{lastUpdateUser}	
		,lastUpdateTime=#{lastUpdateTime}
		where uid=#{uid}
		]]>
	</update>

	<delete id="deleteSecurityCard" parameterType="string">
		<![CDATA[
		DELETE FROM SecurityCard where uid =#{uid}
		]]>
	</delete>

</mapper>