<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.MyStaffMapper">

	<select id="findAllStaffs" resultType="Staff">
		<![CDATA[
		select 
		uid as uid
		,domain AS domain
		,name AS name
		,email AS email
		,phone AS phone
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,officeHour AS officeHour
		,seeAllTalkNote as seeAllTalkNote
		,coveredUserOfTalkNote2 as coveredUserOfTalkNote2
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Staff
		]]>
	</select>

	<select id="findStaffsByWhereString" parameterType="com.db.DbWhere"
		resultType="Staff">
		<![CDATA[
		select 
		uid as uid
		,domain AS domain
		,name AS name
		,email AS email
		,phone AS phone
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,officeHour AS officeHour
		,seeAllTalkNote as seeAllTalkNote
		,coveredUserOfTalkNote2 as coveredUserOfTalkNote2
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Staff
		where ${where}
		]]>
	</select>

	<select id="findStaffById" parameterType="string" resultType="Staff">
		<![CDATA[
		select
		uid as uid
		,domain AS domain
		,name AS name
		,email AS email
		,phone AS phone
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,officeHour AS officeHour
		,seeAllTalkNote as seeAllTalkNote
		,coveredUserOfTalkNote2 as coveredUserOfTalkNote2
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Staff
		WHERE uid=#{uid}
		]]>
	</select>

	<select id="findStaffByIdOK" parameterType="string" resultType="Staff">
		<![CDATA[
		select
		uid as uid
		,domain AS domain
		,name AS name
		,email AS email
		,phone AS phone
		,title AS title
		,unit AS	unit
		,remark AS remark
		,status AS status
		,officeHour AS officeHour
		,seeAllTalkNote as seeAllTalkNote
		,coveredUserOfTalkNote2 as coveredUserOfTalkNote2
		,userLoginId AS userLoginId
		,userLoginPwd AS userLoginPwd
		,createdBy AS createdBy
		,createdTime AS createdTime
		,lastUpdateUser AS lastUpdateUser
		,lastUpdateTime AS lastUpdateTime
		from Staff
		WHERE uid=#{uid} and status='ok'
		]]>
	</select>

	<insert id="insertStaffs" parameterType="Staff">
		<![CDATA[
		INSERT INTO staff
		(uID, domain, name,email,phone, title,unit,	remark, status, officeHour
		,seeAllTalkNote,coveredUserOfTalkNote2
		,userLoginId, userLoginPwd
		,createdBy,createdTime,lastUpdateUser,lastUpdateTime
		)VALUES(
		#{uid},#{domain},#{name},#{email},#{phone},#{title},#{unit},#{remark},#{status},#{officeHour}
		,#{seeAllTalkNote},#{coveredUserOfTalkNote2}
		,#{userLoginId},#{userLoginPwd}
		,#{createdBy},#{createdTime},#{lastUpdateUser},#{lastUpdateTime}
		)
		]]>
	</insert>


	<update id="updateStaff" parameterType="Staff">
		<![CDATA[
		UPDATE staff SET
		domain=#{domain}
		,name=#{name}
		,email=#{email}
		,phone=#{phone}
		,title=#{title}	
		,unit=#{unit}
		,remark=#{remark}
		,status=#{status}
		,officeHour=#{officeHour}
		,seeAllTalkNote=#{seeAllTalkNote}
		,coveredUserOfTalkNote2=#{coveredUserOfTalkNote2}
		,userLoginId=#{userLoginId}
		,userLoginPwd=#{userLoginPwd}
		,lastUpdateUser=#{lastUpdateUser}
		,lastUpdateTime=#{lastUpdateTime}
		where uid=#{uid}
		]]>
	</update>

	<delete id="deleteStaff" parameterType="string">
		<![CDATA[
		DELETE FROM staff where uid =#{uid}
		]]>
	</delete>

</mapper>